body{
  
   background-color: #4DB399;
}

h1{
   font-family: Arial;
   color: #ffffff; 
     text-align: center;
     font-size: 40px;
}


p{
   font-family: Times new roman;
   color: #004d80;
   text-align: center; 
  font-size: 25px;
}


.th a {
  display: block;
  color: #443850;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Anonymous Pro - 700;
}

/* Change the link color on hover */
.th a:hover {
  background-color:# 0000000;
  color:#66FFF;
  
}


th a {
  display: block;
  color: #443850;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: Anonymous Pro - 700;
}

/* Change the link color on hover */
th a:hover {
  background-color:# 0000000;
  color: #FFFFFF;
}


table, th, td hr{
  border:1px solid #443850;
}

p1{
   font-family: Times new roman;
   color: #004d80;
   text-align: left; 
  font-size: 25px;
}


h2{
   font-family: Arial;
   color: #ffffff; 
     text-align: Left;
     font-size: 20px;
}
img{
 Display:block;
 margin-left:auto;
margin-right:auto;
}
